In [36]:
import pandas as pd

In [37]:
df = pd.read_csv("airlines1.csv")

In [38]:
df.head(4)

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,0,1998,1,1,2,5,1998-01-02,NW,19386,NW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2009,2,5,28,4,2009-05-28,FL,20437,FL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2013,2,6,29,6,2013-06-29,MQ,20398,MQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2010,3,8,31,2,2010-08-31,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df.shape

(50001, 110)

In [41]:
from pyspark.sql import SparkSession

In [42]:
spark = SparkSession.builder.appName("airline").getOrCreate()

In [43]:
df = spark.read.option("header",True).csv("airlines1.csv")

In [44]:
df1 = df.select("Year","Month","DayofMonth","FlightDate","Tail_Number", "Flight_Number_Reporting_Airline")

In [45]:
df1.show(5)

+----+-----+----------+----------+-----------+-------------------------------+
|Year|Month|DayofMonth|FlightDate|Tail_Number|Flight_Number_Reporting_Airline|
+----+-----+----------+----------+-----------+-------------------------------+
|1998|    1|         2|1998-01-02|     N297US|                            675|
|2009|    5|        28|2009-05-28|     N946AT|                            671|
|2013|    6|        29|2013-06-29|     N665MQ|                           3297|
|2010|    8|        31|2010-08-31|     N6705Y|                           1806|
|2006|    1|        15|2006-01-15|     N504AU|                            465|
+----+-----+----------+----------+-----------+-------------------------------+
only showing top 5 rows

In [50]:
df1.describe().show()

+-------+------------------+------------------+------------------+----------+-----------+-------------------------------+
|summary|              Year|             Month|        DayofMonth|FlightDate|Tail_Number|Flight_Number_Reporting_Airline|
+-------+------------------+------------------+------------------+----------+-----------+-------------------------------+
|  count|             50001|             50001|             50001|     50001|      40158|                          50001|
|   mean|2004.2978140437192|  6.49365012699746|15.707945841083179|      null|       null|             1733.9209215815683|
| stddev|  9.22858629593392|3.4551359855013577| 8.757785260118377|      null|       null|              1671.689652545134|
|    min|              1987|                 1|                 1|1987-10-01|     -N108D|                              1|
|    max|              2020|                 9|                 9|2020-03-31|     Ã¤NKNOÃ¦|                            999|
+-------+------------------+------------------+------------------+----------+-----------+-------------------------------+

In [54]:
# show total no of flights in each year
df.select("Year").groupBy("Year").count().show()

+----+-----+
|Year|count|
+----+-----+
|1987|  339|
|2016| 1502|
|2020|  462|
|2012| 1519|
|1988| 1310|
|2019| 1900|
|2017| 1449|
|2014| 1513|
|2013| 1690|
|2005| 1812|
|2000| 1477|
|2002| 1371|
|2009| 1604|
|2018| 1862|
|1995| 1377|
|2006| 1900|
|2004| 1847|
|2011| 1551|
|1989| 1288|
|1992| 1335|
+----+-----+
only showing top 20 rows

In [60]:
# show total no of flights in each month
df.select("Month").groupBy("Month").count().show()

+-----+-----+
|Month|count|
+-----+-----+
|    7| 4267|
|   11| 3997|
|    3| 4396|
|    8| 4414|
|    5| 4167|
|    6| 4078|
|    9| 3954|
|    1| 4362|
|   10| 4264|
|    4| 3969|
|   12| 4232|
|    2| 3901|
+-----+-----+

In [56]:
# show total no of flights in each year only for month JUNE
df.select("Year","Month").filter("Month=6").groupBy("Year").count().show()

+----+-----+
|Year|count|
+----+-----+
|2016|  133|
|2012|  139|
|1988|  110|
|2019|  182|
|2017|  111|
|2014|  126|
|2013|  142|
|2005|  140|
|2000|  110|
|2002|  108|
|2018|  148|
|2009|  138|
|1995|  101|
|2006|  162|
|2004|  131|
|2011|  138|
|1989|  105|
|1992|  108|
|2008|  167|
|1999|  130|
+----+-----+
only showing top 20 rows