In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("airlines1.csv")

In [3]:
df.head(4)

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,0,1998,1,1,2,5,1998-01-02,NW,19386,NW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2009,2,5,28,4,2009-05-28,FL,20437,FL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2013,2,6,29,6,2013-06-29,MQ,20398,MQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2010,3,8,31,2,2010-08-31,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(50001, 110)

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName("airline").getOrCreate()

In [7]:
df = spark.read.option("header",True).csv("airlines1.csv")

In [8]:
df1 = df.select("Year","Month","DayofMonth","FlightDate","Tail_Number", "Flight_Number_Reporting_Airline")

In [9]:
df1.show(5)

+----+-----+----------+----------+-----------+-------------------------------+
|Year|Month|DayofMonth|FlightDate|Tail_Number|Flight_Number_Reporting_Airline|
+----+-----+----------+----------+-----------+-------------------------------+
|1998|    1|         2|1998-01-02|     N297US|                            675|
|2009|    5|        28|2009-05-28|     N946AT|                            671|
|2013|    6|        29|2013-06-29|     N665MQ|                           3297|
|2010|    8|        31|2010-08-31|     N6705Y|                           1806|
|2006|    1|        15|2006-01-15|     N504AU|                            465|
+----+-----+----------+----------+-----------+-------------------------------+
only showing top 5 rows

In [10]:
df1.describe().show()

+-------+------------------+------------------+------------------+----------+-----------+-------------------------------+
|summary|              Year|             Month|        DayofMonth|FlightDate|Tail_Number|Flight_Number_Reporting_Airline|
+-------+------------------+------------------+------------------+----------+-----------+-------------------------------+
|  count|             50001|             50001|             50001|     50001|      40158|                          50001|
|   mean|2004.2978140437192|  6.49365012699746|15.707945841083179|      null|       null|             1733.9209215815683|
| stddev|  9.22858629593392|3.4551359855013577| 8.757785260118377|      null|       null|              1671.689652545134|
|    min|              1987|                 1|                 1|1987-10-01|     -N108D|                              1|
|    max|              2020|                 9|                 9|2020-03-31|     Ã¤NKNOÃ¦|                            999|
+-------+------------------+------------------+------------------+----------+-----------+-------------------------------+

In [11]:
# show total no of flights in each year
df.select("Year").groupBy("Year").count().show()

+----+-----+
|Year|count|
+----+-----+
|1987|  339|
|2016| 1502|
|2020|  462|
|2012| 1519|
|1988| 1310|
|2019| 1900|
|2017| 1449|
|2014| 1513|
|2013| 1690|
|2005| 1812|
|2000| 1477|
|2002| 1371|
|2009| 1604|
|2018| 1862|
|1995| 1377|
|2006| 1900|
|2004| 1847|
|2011| 1551|
|1989| 1288|
|1992| 1335|
+----+-----+
only showing top 20 rows

In [12]:
# show total no of flights in each month
df.select("Month").groupBy("Month").count().show()

+-----+-----+
|Month|count|
+-----+-----+
|    7| 4267|
|   11| 3997|
|    3| 4396|
|    8| 4414|
|    5| 4167|
|    6| 4078|
|    9| 3954|
|    1| 4362|
|   10| 4264|
|    4| 3969|
|   12| 4232|
|    2| 3901|
+-----+-----+

In [13]:
# count the no. of cancelled flights in each year
df.select("Year").filter("Cancelled = 1").groupBy("Year").count().show()

+----+-----+
|Year|count|
+----+-----+
|1987|    3|
|2016|   17|
|2012|   20|
|2020|   24|
|1988|   15|
|2019|   34|
|2017|   22|
|2014|   31|
|2013|   22|
|2005|   33|
|2000|   42|
|2002|   11|
|2018|   24|
|2009|   19|
|1995|   22|
|2006|   30|
|2004|   29|
|2011|   29|
|1989|   26|
|1992|   14|
+----+-----+
only showing top 20 rows

In [14]:
# count the no. of cancelled flights in each month
df.select("Month").filter("Cancelled = 1").groupBy("Month").count().show()

+-----+-----+
|Month|count|
+-----+-----+
|    7|   60|
|   11|   46|
|    3|  106|
|    8|   75|
|    5|   39|
|    6|   60|
|    9|  101|
|    1|  132|
|   10|   57|
|    4|   44|
|   12|   68|
|    2|   90|
+-----+-----+

In [15]:
# total no. of flights by departure airports
df.select("Origin").groupBy("Origin").count().show()

+------+-----+
|Origin|count|
+------+-----+
|   BGM|   11|
|   INL|    1|
|   MSY|  383|
|   GEG|  118|
|   BUR|  222|
|   SNA|  339|
|   GRB|   42|
|   GTF|   27|
|   IDA|   17|
|   GRR|  106|
|   EUG|   34|
|   PSG|   11|
|   GSO|  124|
|   PVD|  141|
|   MYR|   41|
|   OAK|  435|
|   MSN|   81|
|   FAR|   29|
|   COD|    3|
|   FSM|    5|
+------+-----+
only showing top 20 rows

In [20]:
print(df.columns)

['_c0', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'FlightDate', 'Reporting_Airline', 'DOT_ID_Reporting_Airline', 'IATA_CODE_Reporting_Airline', 'Tail_Number', 'Flight_Number_Reporting_Airline', 'OriginAirportID', 'OriginAirportSeqID', 'OriginCityMarketID', 'Origin', 'OriginCityName', 'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac', 'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'Dest', 'DestCityName', 'DestState', 'DestStateFips', 'DestStateName', 'DestWac', 'CRSDepTime', 'DepTime', 'DepDelay', 'DepDelayMinutes', 'DepDel15', 'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff', 'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrTime', 'ArrDelay', 'ArrDelayMinutes', 'ArrDel15', 'ArrivalDelayGroups', 'ArrTimeBlk', 'Cancelled', 'CancellationCode', 'Diverted', 'CRSElapsedTime', 'ActualElapsedTime', 'AirTime', 'Flights', 'Distance', 'DistanceGroup', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'FirstDepTime', 'TotalAddGTime', 'LongestAddGTime', 'DivAirportLandings', 'DivReachedDest', 'DivActualElapsedTime', 'DivArrDelay', 'DivDistance', 'Div1Airport', 'Div1AirportID', 'Div1AirportSeqID', 'Div1WheelsOn', 'Div1TotalGTime', 'Div1LongestGTime', 'Div1WheelsOff', 'Div1TailNum', 'Div2Airport', 'Div2AirportID', 'Div2AirportSeqID', 'Div2WheelsOn', 'Div2TotalGTime', 'Div2LongestGTime', 'Div2WheelsOff', 'Div2TailNum', 'Div3Airport', 'Div3AirportID', 'Div3AirportSeqID', 'Div3WheelsOn', 'Div3TotalGTime', 'Div3LongestGTime', 'Div3WheelsOff', 'Div3TailNum', 'Div4Airport', 'Div4AirportID', 'Div4AirportSeqID', 'Div4WheelsOn', 'Div4TotalGTime', 'Div4LongestGTime', 'Div4WheelsOff', 'Div4TailNum', 'Div5Airport', 'Div5AirportID', 'Div5AirportSeqID', 'Div5WheelsOn', 'Div5TotalGTime', 'Div5LongestGTime', 'Div5WheelsOff', 'Div5TailNum']

In [22]:
# year-wise on-time departure flights
df.select("year").filter("DepDelay <= 0 ").groupBy("year").count().show()

+----+-----+
|year|count|
+----+-----+
|1987|  187|
|2016|  978|
|2012|  949|
|2020|  320|
|1988|  775|
|2019| 1171|
|2017|  911|
|2014|  885|
|2013| 1011|
|2005| 1122|
|2000|  812|
|2002|  891|
|2009|  996|
|2018| 1214|
|1995|  648|
|2006| 1116|
|2004| 1226|
|2011|  955|
|1989|  705|
|1992|  721|
+----+-----+
only showing top 20 rows

In [23]:
# year-wise departure departure flights
df.select("year").filter("DepDelay > 0 ").groupBy("year").count().show()

+----+-----+
|year|count|
+----+-----+
|1987|  149|
|2016|  507|
|2020|  118|
|2012|  551|
|1988|  520|
|2019|  695|
|2017|  516|
|2014|  597|
|2013|  659|
|2005|  657|
|2000|  623|
|2002|  469|
|2018|  622|
|2009|  590|
|1995|  707|
|2006|  754|
|2004|  592|
|2011|  569|
|1989|  557|
|1992|  600|
+----+-----+
only showing top 20 rows

In [26]:
# calculate year-wise performance of flights like on-time departure, on-time arrival
df.select("year").filter((df.DepDelay <= 0 ) & (df.ArrDelay <= 0)).groupBy("year").count().show()

+----+-----+
|year|count|
+----+-----+
|1987|   96|
|2016|  840|
|2012|  782|
|2020|  280|
|1988|  474|
|2019|  982|
|2017|  739|
|2014|  726|
|2013|  829|
|2005|  845|
|2000|  579|
|2002|  695|
|2009|  793|
|2018| 1032|
|1995|  444|
|2006|  821|
|2004|  921|
|1989|  453|
|2011|  757|
|1992|  501|
+----+-----+
only showing top 20 rows

In [27]:
Flight_Origin= df.select("_c0","OriginAirportID", "OriginAirportSeqID", "OriginCityMarketID","Origin", "OriginCityName","OriginState", "OriginStateName")
Flight_Destination = df.select("_c0","DestAirportID", "DestAirportSeqID", "Dest", "DestCityName","DestState","DestStateName")
Flight_arr_dep = df.select("_c0","CRSArrTime","ArrTime", "CRSDepTime","DepTime")
DelayDF= df.select("_c0","CarrierDelay","WeatherDelay", "NASDelay","SecurityDelay","LateAircraftDelay")
Flight_cancel = df.select("_c0","Cancelled","CancellationCode","Diverted","Flights")

In [28]:
Flight_cancel = Flight_cancel.withColumnRenamed("_c0","ID")

In [29]:
Flight_cancel.show()

+---+---------+----------------+--------+-------+
| ID|Cancelled|CancellationCode|Diverted|Flights|
+---+---------+----------------+--------+-------+
|  0|      0.0|            null|     0.0|    1.0|
|  1|      0.0|            null|     0.0|    1.0|
|  2|      0.0|            null|     0.0|    1.0|
|  3|      0.0|            null|     0.0|    1.0|
|  4|      0.0|            null|     0.0|    1.0|
|  5|      0.0|            null|     0.0|    1.0|
|  6|      0.0|            null|     0.0|    1.0|
|  7|      0.0|            null|     0.0|    1.0|
|  8|      0.0|            null|     0.0|    1.0|
|  9|      0.0|            null|     0.0|    1.0|
| 10|      0.0|            null|     0.0|    1.0|
| 11|      0.0|            null|     0.0|    1.0|
| 12|      0.0|            null|     0.0|    1.0|
| 13|      0.0|            null|     0.0|    1.0|
| 14|      0.0|            null|     0.0|    1.0|
| 15|      0.0|            null|     0.0|    1.0|
| 16|      0.0|            null|     0.0|    1.0|
| 17|      0.0|            null|     0.0|    1.0|
| 18|      0.0|            null|     0.0|    1.0|
| 19|      1.0|               A|     0.0|    1.0|
+---+---------+----------------+--------+-------+
only showing top 20 rows

# Data Cleaning
# handling null values

In [33]:
Flight_cancel.na.drop().show()

+----+---------+----------------+--------+-------+
|  ID|Cancelled|CancellationCode|Diverted|Flights|
+----+---------+----------------+--------+-------+
|  19|      1.0|               A|     0.0|    1.0|
| 146|      1.0|               B|     0.0|    1.0|
| 197|      1.0|               C|     0.0|    1.0|
| 554|      1.0|               A|     0.0|    1.0|
| 680|      1.0|               A|     0.0|    1.0|
| 841|      1.0|               A|     0.0|    1.0|
| 905|      1.0|               B|     0.0|    1.0|
| 911|      1.0|               B|     0.0|    1.0|
| 965|      1.0|               B|     0.0|    1.0|
|1082|      1.0|               C|     0.0|    1.0|
|1246|      1.0|               A|     0.0|    1.0|
|1443|      1.0|               B|     0.0|    1.0|
|1450|      1.0|               A|     0.0|    1.0|
|1633|      1.0|               A|     0.0|    1.0|
|1730|      1.0|               B|     0.0|    1.0|
|1773|      1.0|               C|     0.0|    1.0|
|1904|      1.0|               B|     0.0|    1.0|
|1908|      1.0|               B|     0.0|    1.0|
|1913|      1.0|               A|     0.0|    1.0|
|2450|      1.0|               A|     0.0|    1.0|
+----+---------+----------------+--------+-------+
only showing top 20 rows

In [34]:
Flight_cancel.na.drop(how='any').show()

+----+---------+----------------+--------+-------+
|  ID|Cancelled|CancellationCode|Diverted|Flights|
+----+---------+----------------+--------+-------+
|  19|      1.0|               A|     0.0|    1.0|
| 146|      1.0|               B|     0.0|    1.0|
| 197|      1.0|               C|     0.0|    1.0|
| 554|      1.0|               A|     0.0|    1.0|
| 680|      1.0|               A|     0.0|    1.0|
| 841|      1.0|               A|     0.0|    1.0|
| 905|      1.0|               B|     0.0|    1.0|
| 911|      1.0|               B|     0.0|    1.0|
| 965|      1.0|               B|     0.0|    1.0|
|1082|      1.0|               C|     0.0|    1.0|
|1246|      1.0|               A|     0.0|    1.0|
|1443|      1.0|               B|     0.0|    1.0|
|1450|      1.0|               A|     0.0|    1.0|
|1633|      1.0|               A|     0.0|    1.0|
|1730|      1.0|               B|     0.0|    1.0|
|1773|      1.0|               C|     0.0|    1.0|
|1904|      1.0|               B|     0.0|    1.0|
|1908|      1.0|               B|     0.0|    1.0|
|1913|      1.0|               A|     0.0|    1.0|
|2450|      1.0|               A|     0.0|    1.0|
+----+---------+----------------+--------+-------+
only showing top 20 rows

In [35]:
Flight_cancel.na.fill("yes").show()

+---+---------+----------------+--------+-------+
| ID|Cancelled|CancellationCode|Diverted|Flights|
+---+---------+----------------+--------+-------+
|  0|      0.0|             yes|     0.0|    1.0|
|  1|      0.0|             yes|     0.0|    1.0|
|  2|      0.0|             yes|     0.0|    1.0|
|  3|      0.0|             yes|     0.0|    1.0|
|  4|      0.0|             yes|     0.0|    1.0|
|  5|      0.0|             yes|     0.0|    1.0|
|  6|      0.0|             yes|     0.0|    1.0|
|  7|      0.0|             yes|     0.0|    1.0|
|  8|      0.0|             yes|     0.0|    1.0|
|  9|      0.0|             yes|     0.0|    1.0|
| 10|      0.0|             yes|     0.0|    1.0|
| 11|      0.0|             yes|     0.0|    1.0|
| 12|      0.0|             yes|     0.0|    1.0|
| 13|      0.0|             yes|     0.0|    1.0|
| 14|      0.0|             yes|     0.0|    1.0|
| 15|      0.0|             yes|     0.0|    1.0|
| 16|      0.0|             yes|     0.0|    1.0|
| 17|      0.0|             yes|     0.0|    1.0|
| 18|      0.0|             yes|     0.0|    1.0|
| 19|      1.0|               A|     0.0|    1.0|
+---+---------+----------------+--------+-------+
only showing top 20 rows

# apply pyspark windows function

In [37]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

In [39]:
ndf = Window.partitionBy("OriginState").orderBy("OriginAirportID")
Flight_Origin.withColumn("row_number",row_number().over(ndf)).show()

+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----------+
|  _c0|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateName|row_number|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----------+
|22201|          12016|           1201601|             32016|   GUM|          Guam, Guam|       null|           null|         1|
|32252|          12016|           1201601|             32016|   GUM|          Guam, Guam|       null|           null|         2|
|47945|          14583|           1458301|             34583|   ROR|Koror, Palau Dist...|       null|           null|         3|
| 4406|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         4|
|11056|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         5|
|11127|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         6|
|17268|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         7|
|19012|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         8|
|20504|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|         9|
|21724|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|        10|
|27784|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|        11|
|31525|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|        12|
|39618|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|        13|
|18173|          14955|           1495501|             34955|   SPN|Saipan, Northern ...|       null|           null|        14|
|22928|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|        15|
|27212|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|        16|
|29420|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|        17|
|37516|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|        18|
|40192|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|        19|
|45635|          15027|           1502701|             34992|   STX|Christiansted, Vi...|       null|           null|        20|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----------+
only showing top 20 rows

In [40]:
# Use Rank Function
from pyspark.sql.functions import rank

In [41]:
Flight_Origin.withColumn("rank", rank().over(ndf)).show()

+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----+
|  _c0|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateName|rank|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----+
|22201|          12016|           1201601|             32016|   GUM|          Guam, Guam|       null|           null|   1|
|32252|          12016|           1201601|             32016|   GUM|          Guam, Guam|       null|           null|   1|
|47945|          14583|           1458301|             34583|   ROR|Koror, Palau Dist...|       null|           null|   3|
| 4406|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|11056|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|11127|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|17268|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|19012|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|20504|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|21724|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|27784|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|31525|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|39618|          14843|           1484301|             34819|   SJU|San Juan, Puerto ...|       null|           null|   4|
|18173|          14955|           1495501|             34955|   SPN|Saipan, Northern ...|       null|           null|  14|
|22928|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|  15|
|27212|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|  15|
|29420|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|  15|
|37516|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|  15|
|40192|          15024|           1502402|             34945|   STT|Charlotte Amalie,...|       null|           null|  15|
|45635|          15027|           1502701|             34992|   STX|Christiansted, Vi...|       null|           null|  20|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+----+
only showing top 20 rows

In [45]:
# sorting dataframe using sort
Flight_Origin.sort("Origin","OriginState").show()

+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
|  _c0|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateName|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
|46502|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|23780|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 1590|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|24002|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|12518|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|24780|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 5113|          10135|           1013502|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|25125|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|38459|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|25502|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 5403|          10135|           1013505|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|26066|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|13333|          10135|           1013505|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|26118|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 5819|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|27478|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|46998|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|27701|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 6277|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|28914|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
only showing top 20 rows

In [47]:
# sorting dataframe using orderBy
Flight_Origin.orderBy("Origin","OriginState").show()

+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
|  _c0|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateName|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
|46502|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|12518|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|38459|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|13333|          10135|           1013505|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 1590|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|15968|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|39459|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|16445|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|23780|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|16523|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|40523|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|19374|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
| 5113|          10135|           1013502|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|19614|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|42080|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|20102|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|46998|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|20169|          10135|           1013503|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|42910|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
|20730|          10135|           1013501|             30135|   ABE|Allentown/Bethleh...|         PA|   Pennsylvania|
+-----+---------------+------------------+------------------+------+--------------------+-----------+---------------+
only showing top 20 rows